body {
  background: beige;
}

.spacer {
  color: beige;
  cursor: default;
}

#new-category {
  display: none;
  background-color: beige;
  min-width: 400px;
  min-height: 200px;
  padding: 10px;
  border-radius: 8px;
}

.success {
  color: #559462;
}

.error {
  color: #ff5f5d;
}

.notification {
  text-align: center;
}

.register-login-buttons {
  text-align: center;
}

div.title {
  margin-left: 0;
}
