body {
  background: beige;
}

.spacer {
  color: beige;
  cursor: default;
}

#new-category {
  display: none;
}

.success {
  color: #559462;
}

.error {
  color: #ff5f5d;
}

.notification {
  text-align: center;
}

.register-login-buttons {
  text-align: center;
}
