body {
  background: beige;
}

.spacer {
  color: beige;
  cursor: default;
}

#new-category {
  display: none;
  background-color: beige;
  min-width: 400px;
  min-height: 200px;
  padding: 10px;
  border-radius: 8px;
}

.success {
  color: #559462;
}

.error {
  color: #ff5f5d;
}

.flashes {
  text-align: center;
}

.register-login-buttons {
  text-align: center;
}

div.title {
  margin-left: 0;
}

textarea[name="content"] {
  min-height: 12rem;
}

.u-center {
  text-align: center;
}

p {
  white-space: pre-wrap;
}

.pagination-link {
  padding: 12px;
  border-radius: 4px;
  background-color: #63D3F0;
  color: #fff;
}

.pagination-link:hover {
  color: #e6e6e6;
}

.selected {
 background-color: #33C3F0; 
}

.selected:hover,
.pagination-link:hover {
  background-color: #1EAEDB;
}

a {
  text-decoration: none;
}
