{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block title %}New Note{% endblock %}
{% block content %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  {% for field in form %}
    {{ render_field(field) }}
  {% endfor %}
  <button id="category-button">New Category</button>
  <button type="submit" id="submit">Submit</button>
</form>
<div id="new-category">
  <form method="POST" action="" id="categoryForm">
    <input id="name" name="name" type="text" placeholder="Category Name">
    <button id="submitCategory">Submit</button>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="static/js/jquery.simplemodal.1.1.4.min.js" type="text/javascript"></script>
<script src="static/js/scripts.js" type="text/javascript"></script>
{% endblock %}
